/* ===================================================
STYLES FOR ROOT ELEMENTs
=====================================================*/

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
  font-family: var(--font-regular), sans-serif;
}

h1 {
  font-size: 56px;
}

/*FONT SIZEZ*/
.-fs-xxl {
  font-size: clamp(64px, 14vw, 300px);
}

/*COLORS*/

.-c-nuclear {
  color: var(--nuclear);
}

.-c-acid {
  color: var(--acid);
}

.-c-main {
  color: var(--main-color);
}

/*MISC*/

.-font-alternative {
  font-family: var(--font-alternative);
  font-style: italic;
}

.-uppercase {
  text-transform: uppercase;
}

.-acided {
  background-color: var(--acid);
  color: var(--main-color);
}

.-inverted {
  background-color: var(--nuclear);
  color: var(--main-color);
}

/*ANIMATIONS*/

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}