/* ===================================================
FONTS AND VARIABLES
=====================================================*/

@font-face {
  font-family: 'Archivo-Regular';
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Archivo-Bold';
  src: url("../fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: 'Archivo-Thin';
  src: url("../fonts/Archivo-Thin.woff2") format("woff2");
}

@font-face {
  font-family: 'Canela-Regular';
  src: url("../fonts/Canela-Regular.woff2") format("woff2");
}

:root {
  /*FONTS*/
  --font-regular:     Archivo-Regular;
  --font-bold:        Archivo-Bold;
  --font-thin:        Archivo-Thin;
  --font-alternative: Canela-Regular;
  
  /*COLORS*/
  --main-color:       #474dd9;
  --nuclear:          #fff;
  --acid:             #57fb7b;

  /*SIZEZ*/

  --fs-m-s:           21px;
  --fs-m:             24px;
  --fs-m-l:           32px;
  --fs-l-s:           40px;
  --fs-l:             48px;
  --fs-l-l:           56px;
  --fs-xl-s:          64px;
  --fs-xl-l:          72px;
  --fs-xl-xl:         80px;
  --fs-xxl-s:         88px;
  --fs-xxl-m:         96px;
}