.a-candy-icon {
  position: absolute;
  width: 40px;
  height: auto;
  animation-name: dwall;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
  opacity: 0.8;

  @media screen and (min-width: 720px) {
    animation-name: dwallDesktop;
    animation-duration: 30000ms;
    z-index: 1;
    opacity: 1;
  }
}

.a-candy-icon--top-xxs {
  animation-delay: 150ms;
  top: 2%;
}

.a-candy-icon--top-xs {
  top: 10%;
}

.a-candy-icon--top-s {
  animation-delay: 300ms;
  top: 25%;
}

.a-candy-icon--top-m {
  animation-delay: 670ms;
  top: 45%;
}

.a-candy-icon--top-ls {
  animation-delay: 900ms;
  top: 65%;
}

.a-candy-icon--top-l {
  animation-delay:1200ms;
  top: 85%;
}

.a-candy-icon--top-xl {
  animation-delay: 93ms;
  top: 98%;
}

.a-candy-icon--left-xs {
  left: 5%;
}

.a-candy-icon--left-s {
  left: 10%;
}

.a-candy-icon--left-m {
  left: 45%;
}

.a-candy-icon--left-lm {
  left: 70%;
}

.a-candy-icon--left-l {
  left: 85%;
}

@media screen and (min-width: 720px) {
  .a-candy-icon--left-l {
    left: 95%;
  }
}

@media screen and (min-width: 1063px) {
  .a-candy-icon {
    position: absolute;
    width: 56px;
    height: auto;
  }
}