.o-greeting {
  text-align: center;
  padding: 32px;
}

.o-greeting--canvas {
  transform: scale(2);
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 220px;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.o-greeting p {
  margin: 0;
}

.o-greeting__hand {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 16px;
}

.o-greeting__hand--pill {
  position: absolute;
  transform: rotate(10deg);
  font-family: var(--font-bold);
  font-size: var(--fs-m-s);
  text-align: center;
}

.o-greeting__hand--icon {
  appearance: none;
  transition: transform 200ms ease-in-out;
  transform: rotate(-13deg);
  margin-top: 200px;
  margin-left: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.o-greeting__hand--icon img {
  max-width: 200px;
  height: auto;
}

.o-greeting__hand--line {
  margin-top: 32px;
}

.o-greeting__hand--line {
  transform: scaleX(-1);
}

@media screen and (min-width: 460px) {
  .o-greeting__hand--icon {
    margin-top: 32px;
  }
  
  .o-greeting__hand--icon img {
    max-width: 220px;
    height: auto;
  }
}

@media screen and (min-width: 720px) {
  .o-greeting {
    padding: 32px 32px 120px;
  }

  .o-greeting .-fs-xxl {
    margin-bottom: 32px;
  }
  
  .o-greeting__hand--pill {
    font-size: var(--fs-m-l);
  }

  .o-greeting__hand--icon:hover {
    transform: scale(1.2);
  }

  .o-greeting__hand--icon:active {
    transform: scale(0.1);
  }

  .o-greeting__hand--icon img {
    max-width: 280px;
    height: auto;
  }
}