/* ===================================================
Showcase  styles
=====================================================*/

.o-reel {
  margin: 120px 0;
  padding: 0 16px;
}

.o-reel--title {
  margin-top: 0;
  font-size: var(--fs-l-l);
  font-family: var(--font-thin);
}

@media screen and (min-width: 1063px) {
  .o-reel {
    margin: 320px 0;
    padding: 0 32px;
  }

  .o-reel--title {
    width:66.6%;
    font-size: var(--fs-xxl-m);
  }
}