.o-call-to-action {
	padding: 64px 16px;
}

.o-call-to-action--title {
	margin: 0;
}

.o-call-to-action--link {
	display: inline-block;
	margin-top: 32px;
	max-width: 320px;
	font-size: var(--fs-m-l);
	line-height: 1.33;
}

@media screen and (min-width: 1063px) {
	.o-call-to-action {
		padding: 64px 32px 220px;
		text-align: right;
	}

	.o-call-to-action--link {
		font-size: var(--fs-l);
		max-width: 580px;
	}
}