.o-footer {
  padding: 64px 32px;
  font-size: var(--fs-m-l);
  line-break: auto;
}

.o-footer .a-label:first-child {
  margin-top: 0;
}

.o-footer p {
  margin: 0;
}

.o-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.o-footer .a-label {
  margin-top: 64px;
  margin-bottom: 16px;
  font-size: var(--fs-s-l);
}

.o-footer__wrapper--links {
  margin-top: 32px;
}

.o-footer__wrapper--aim {
  max-width: 420px;
  line-height: 1;
}

.o-footer .a-link {
  display: block;
}

.o-footer .a-link + .a-link {
  margin-top: 16px;
}

.o-footer__credits {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  font-size: var(--fs-s-l);
}

.o-footer__credits--logo { 
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
  align-items: center;
  margin-top: 32px;
}

.o-footer__credits--logo img {
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 32px;
}

.o-footer__credits--copyright {
  flex: 2;
  margin-top: 32px;
}

@media screen and (min-width: 720px) {
  .o-footer {
    padding: 120px 64px 32px;
  }

  .o-footer__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .o-footer__wrapper--about {
    flex: 2;
  }

  .o-footer__wrapper--links {
    flex: 1;
    align-items: flex-end;
    text-align: end;
    margin-top: 0;
  }

  .o-footer__credits {
    flex-direction: row;
    align-items: center;
    font-size: var(--fs-s-m);
    margin-top: 180px;
  }

  .o-footer__credits--logo {
    flex-direction: row;
    margin-top: 0;
  }
  
  .o-footer__credits--logo img {
    margin-bottom: 0;
  }

  .o-footer__credits--copyright {
    margin-top: 0;
    text-align: right;
  }
}